/* * * * * * * * * */
/* Fonts Variables */
/* * * * * * * * * */

  @increase_font: 2;
  @max-font-size: 80;
  @min-font-size: 6;

/* * * * * * * * * */
/* Fonts src       */
/* * * * * * * * * */

  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

  //-- Do not change.
  @import "../../bower_components/font-awesome/less/font-awesome";
  @fa-font-path: "../fonts/vendor";

/* * * * * * * * * */
/* Fonts size */
/* * * * * * * * * */

  .mix-make-font-size(@max-font-size);
