/* * * * * * * * * */
/* Global settings */
/* * * * * * * * * */

  @base-font:                 'Open Sans', 'Helvetica neue', Helvetica, sans-serif;
  @heading-font:              'Open Sans', 'Helvetica neue', Helvetica, sans-serif;
  @base-font-weight-light:    300;
  @base-font-weight:          400;
  @base-font-weight-bold:     700;
  @body-font-size:            16px;
  @body-font-color:           @c-black-darker;
  @heading-color:             @c-black-darker;
  @body-background-color:     @c-grey-100;
  @main-link-color:           @c-blue-500;
  @main-link-color-hover:     darken(@c-blue-500, 10%);
  @separator-border-color:    @c-black-lighter;
