/* * * * * * * * * */
/* Messages styles */
/* * * * * * * * * */

.messages{
  background: fade(@c-grey-1000, 60%);
  height: 100%;
  left: 0px;
  padding: 20px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99999999;

  & .alert{
    background: @c-grey-0;
    border-bottom: solid 5px @c-blue-500;
    box-shadow: 0px 0px 5px -2px @c-black-dark;
    border-radius: 0px 0px 4px 4px;
    left: 50%;
    max-height: 80%;
    max-width: 80%;
    min-width: 280px;
    overflow: auto;
    padding: 20px;
    position: absolute;
    top: 100px;
    transform: translate(-50%, 0%);

    & ul{
      margin: 0px;
      padding: 0px;

      & li{
        border-bottom: solid 2px @c-grey-500;
        list-style: none;
        margin: 0px;
        padding: 5px 10px;
        padding-left: 10px;
        position: relative;
      }
    }

    &.alert-danger{
      border-bottom: solid 5px @c-red-500;

      & *{
        color: @c-red-500;
      }
    }

    &.alert-success{
      border-bottom: solid 5px @c-green-500;

      & *{
        color: @c-green-500;
      }
    }

    //--

    & .state{
      margin-bottom: 15px;
      padding: 10px;

      &.danger{
        background: fade(@c-red-500, 5%);
      }

      &.success{
        background: fade(@c-green-500, 5%);
      }

      & .close{
        border-radius: 4px;
        display: inline-block;
        .fs-30;
        text-align: center;
        vertical-align: middle;

        & i{
          color: @c-black-darker;
          .mix-transition(color);
        }

        &:hover{

      & i{
            color: @c-red-500;
          }
        }
      }
    }
  }
}
