.no-js{

  body{
    padding-top: 52px;
    @media screen and (max-width: $screen-xs-max) {
      padding-top: 72px;
    }
  }

  .noJS{
    display: block;
    width: 100%;

    &.alert{
      position: absolute;
      top: 0;
      z-index: 100000;
    }
  }
}
